@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #10141E;
}

body {
  width: 100%;
  height: 100%;
  grid-template-columns: 5% 95%;
  overflow-x: hidden;
}

main {
  width: 100%;
}

nav {
  background-color: #161D2F;
  max-height: 80vh;
  border-radius: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
}

.custom-input {
  background: none;
}
.custom-input::placeholder {
  color: #5A698F;
  font-size: x-large;
}
.custom-input:focus {
  border-bottom: 1px solid #5A698F;
  caret-color: #FC4747;
}
.search div:nth-of-type(1) {
  width: 5%;
}

.search div:nth-of-type(2) {
  width: 95%;
}

.card-item {
  background-color: #5A698F;
}

.title {
  color: #FFFFFF;
}

.trending {
  width: 100%;
}

.trend-section {
  width: 99%;
}